<header>

    <div class="container-fluid" id="social_medias">

        <div class="row ml-5 mr-5">

            <div class="col-md-4">
               
                <div class="d-flex justify-content-between">

                    <div class="hoverable">
                        <i class="fas fa-phone"></i><a>888.396.2465</a>
                    </div>
                    <div class="hoverable">
                        <i class="fas fa-envelope"></i><a>Contact Us</a>
                    </div>
                    <div class="hoverable">
                        <i class="fas fa-life-ring"></i><a>Support</a>
                    </div>
                    <div class="hoverable">
                        <i class="fas fa-star"></i><a>Log in</a>
                    </div>

                </div>

            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

                <div class="d-flex justify-content-between">
                    
                    <div class="hoverable">
                        <i class="fab fa-twitter"></i><a>Twitter</a>
                    </div>
                    <div class="hoverable">
                        <i class="fab fa-linkedin"></i><a>Linkedin</a>
                    </div>
                    <div  class="hoverable">
                        <i class="fab fa-instagram"></i><a>Instagram</a>
                    </div>
                    <div  class="hoverable">
                        <i class="fab fa-facebook"></i><a>Facebook</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="datalake_nav">

        <a class="navbar-brand ml-5" href="#"><span class="h3"><strong>DataLakeHouse</strong></span></a>

        <div class="collapse navbar-collapse" id="datalake_nav_div">
            
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                  <a class="nav-link" href="#"><strong>Plataform</strong></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#"><strong>About Us </strong></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#"><strong>Contact Us </strong></a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto mr-5">

                <button class="btn px-4 py-2 btn-success m-2" id="book_a_demo"><strong>Book a demo</strong></button>

                <button class="btn px-4 py-2 btn-success m-2"><strong>Sign Up</strong></button>

            </ul>

        </div>

    </nav>

</header>

