<footer class="p-5">

    <div class="container-fluid">

        <div class="row mb-4">

            <div class="col-md-12">
                <i class="fas fa-building h2"> </i><span class="h2"><strong>DataLakeHouse</strong></span>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">

                <div class=" d-flex flex-column align-items-center mb-3">

                    <p>
                        DataLakeHouse is a 100% Snowflake-focused, advanced end-to-end analytics platform that 
                        offers a suite of data tools including ELT, industry-specific pre-built Models, and Analytics combined 
                        with Machine Learning to offer actionable insights and predictions for extremely effective business 
                        decision-making.
                    </p>

                </div>

                <strong>Made with Glorious Purpouse in the Carolinas</strong>

                <p >Fort Mill, South Carolina USA</p>

                <div class="mt-3 d-flex justify-content-around h2" id="first_column">

                    <div>
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook"></i>
                    </div>

                </div>

            </div>

            <div class="col-md-4 d-flex justify-content-between" id="second_column">
                
                <div class="col-md-6 text-center">

                    <p class="h4 text-center"><strong>COMPANY</strong></p>
                    <hr class="btn-success">

                    <ul>
                        <li><a>About Us</a></li>
                        <li><a>Contact Us</a></li>
                        <li><a>Support</a></li>
                        <li><a>FAQs</a></li>
                        <li><a>Resources</a></li>
                        <li><a>Diversity/Inclusion</a></li>
                        <li><a>Carrers</a></li>
                    </ul>

                </div>
                
                <div class="col-md-6 text-center">

                    <p class="h4"><strong>PLATFORM</strong></p>
                    <hr class="btn-success">

                    <ul>
                        <li><a>Product</a></li>
                        <li><a>Integrations</a></li>
                        <li><a>Connections Library</a></li>
                        <li><a>Pricing</a></li>
                        <li><a>Free Trial</a></li>
                        <li><a>Book a Demo</a></li>
                        <li><a>API documentation</a></li>
                    </ul>

                </div>

            </div>

            <div class="col-md-4" id="third_column">

                <p class="h4"><strong>NEWSLETTER</strong></p>
                <hr class="btn-success">

                <p>
                    Keep up-to-date on our latest releases and product news. Sign-up by entering your details below.
                </p>

                <div id="input_newsletter">

                    <div class="input-group mt-2">

                        <input class="form-control" type="text" placeholder="First and Last Name">
    
                    </div>
    
                    <div class="input-group mt-2" >
    
                        <input class="form-control" type="text" placeholder="Your Work Email">
                        <div class="input-group-append">
                            <button class="btn btn-success">Subscribe</button>
                        </div>
    
                    </div>

                </div>                

            </div>

        </div>

        <hr class="btn-light">

        <div class="row mt-5" id="lowest_footer">

            <div class="col-md-6">

                <ul class="list-group list-group-horizontal-sm">

                    <li><a>DataLakeHouse 2021. All rights reserved</a></li>
                    <li> / </li>
                    <li><a>Privacy Policy</a></li>
                    <li> / </li>
                    <li><a>Terms of Service</a></li>

                </ul>

            </div>

            <div class="col-md-2">

            </div>

            <div class="col-md-4 d-flex justify-content-end">

                
                <ul class="list-group list-group-horizontal-sm">

                    <li><a>Legal</a></li>
                    <li> / </li>
                    <li><a>Cookies</a></li>
                    <li> / </li>
                    <li><a>Sitemap</a></li>
                    <li> / </li>
                    <li><a>Do Not Sell My Data</a></li>

                </ul>

            </div>

        </div>

    </div>

</footer>
