<div class="container-fluid mt-4 mb-4">

    <app-quick-description></app-quick-description>

    <app-why-datalakehouse></app-why-datalakehouse>

    <div class="py-5 black-basic row"></div>

    <app-free-no-code></app-free-no-code>

    <div class="py-5 black-basic row"></div>

    <app-how-plataform-works-section></app-how-plataform-works-section>

    <app-integration-with-data-sources></app-integration-with-data-sources>

    <app-how-it-works-section></app-how-it-works-section>

    <app-success-stories-section></app-success-stories-section>

    <section class="row py-5 pr-5 pl-5" id="tecnlogy_partnes_section">

        <div class="col-md-12 align-self-center">

            <img class="img-fluid" src="./../../assets/partners.png" alt="">

        </div>

    </section>

    <app-schedule-apersonalized-scenario></app-schedule-apersonalized-scenario>

</div>