<section class="row py-5 pr-5 pl-5" id="free_no_code_info">

    <div class="col-md-7">

        <h1 class="h1"><strong>Get started for free.</strong></h1>
        <h1 class="h1"><strong>No setup and no code</strong></h1>
        <hr class="btn-info">

        <p class="h4 mt-4">
            With just a few clicks, load data from any source into Snowflake and watch your data flow. 
            Schedule your data sync once a day or more frequently. Then, take the next steps and start 
            transforming your raw data into information. Better yet, use our pre-built transformation pipelines 
            and go directly to the data validation and analytics we have for dozens of industry use cases; 
            find out more by talking to our data and industry analytics experts.
        </p>

        <button class="transparent btn btn-success p-3 px-5 mt-3" id="talk_to_a_expert_btn">Talk to a Data Expert</button>

    </div>

    <div class="col-md-5">

        <img src="./../../assets/getstarted.png" class="img-fluid">

    </div>

</section>