<section class="row py-5 pr-5 pl-5" id="how_plataform_work_section">

    <div class="d-flex flex-column text-center py-5">

        <div >
            <p>THE PLATFORM</p>
        </div>

        <div>
            <h1 class="h1"><strong>How the Platform Works</strong></h1>
            <hr>
        </div>

        <p class="h4">DataLakeHouse is a 100% Snowflake-focused, advanced end-to-end analytics platform that offers 
            an all-in-one, no-code data management solution. With Data Synchronization (ELT), 
            industry-specific pre-built Models, and Analytics combined with Machine Learning, the platform 
            offers actionable insights and predictions for extremely effective business decision-making. 
            It’s four pillar approach takes your organization from zero to analytics, saving you 40% 
            faster development and deployment time to deliver answers to your business stakeholders in real-time.
        </p>

    </div>

    <div class="col-md-12">

        <!-- CARDS -->
        <div class="d-flex justify-content-around mt-5"  id="cards_about_my_company">

            <div>

                <div class="card light-border">

                    <div class="relative_circle d-flex justify-content-center">
                        <div class="circle_counting border"><p class="h3"><strong>1</strong></p></div>
                    </div>
    
                    <h5 class="card-title text-center mb-4"><strong>Data Sources</strong></h5>
    
                    <img class="card-img-bottom" src="./../../assets/datasources.png">                 
    
                </div>

                <div class="px-4 mt-3">

                    <h5><strong>Data Sources</strong></h5>

                    <p class="mt-2 mb-2">
                        Bring your data from dozens of data sources on-premise or in the cloud. 
                        Connect to data bases, cloud apps, etc.s
                    </p>

                    <a class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>

                </div>

            </div>
            
            <div>

                <div class="card light-border" >
    
                    <div class="relative_circle d-flex justify-content-center">
                        <div class="circle_counting border"><p class="h3"><strong>2</strong></p></div>
                    </div>
    
                    <h5 class="card-title text-center mb-4"><strong>ELT</strong></h5>
    
                    <img class="card-img-bottom" src="./../../assets/elt.png">                 
    
                </div>

                <div class="px-4 mt-3" >

                    <h5><strong>Extract, Load, Transform</strong></h5>

                    <p class="mt-2 mb-2">
                        Use our data synchronization tool to automate your data load into Snowflake from any of your sources.
                    </p>

                    <a class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>

                </div>

            </div>

            <div>   

                <div class="card light-border">

                    <div class="relative_circle d-flex justify-content-center">
                        <div class="circle_counting border"><p class="h3"><strong>3</strong></p></div>
                    </div>
    
                    <h5 class="card-title text-center mb-4"><strong>Data models</strong></h5>
    
                    <img class="card-img-bottom" src="./../../assets/datamodels.png">
    
                </div>

                <div class="px-4 mt-3">

                    <h5><strong>Data Warehouse & Vault</strong></h5>

                    <p class="mt-2 mb-2">
                        Use our industry-specific conformed data models that answer common questions for your business – fast!
                    </p>

                    <a class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>

                </div>

            </div>

            <div>   

                <div class="card light-border">

                    <div class="relative_circle d-flex justify-content-center">
                        <div class="circle_counting border"><p class="h3"><strong>4</strong></p></div>
                    </div>
    
                    <h5 class="card-title text-center mb-4"><strong>Analytics / ML</strong></h5>
    
                    <img class="card-img-bottom" src="./../../assets/analytics.png">
    
                </div>

                <div class="px-4 mt-3">

                    <h5><strong>Dashboards / Analytics / ML</strong></h5>

                    <p class="mt-2 mb-2">
                        Gain quick self-service access to charts, pivot tables, and more. 
                        No data scientist? Start with our algorithms.
                    </p>

                    <a class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>

                </div>

            </div>              
            
        </div>

        <div class="mt-5 d-flex justify-content-center">
            <button class="btn btn-success py-3 px-4"><strong>Explore the Platform</strong></button>
        </div>
    
    </div>

</section>