<section class="row py-5 pr-5 pl-5 pb-5" id="how_it_works_section">

    <div class="col-md-12 text-center">

        <p><strong>HOW IT WORKS</strong></p>

        <h2 class="h2 mt-3 mb-3"><strong>Our Platform: No-Code + Pre-Built Analytics & Machine Learning</strong></h2>
        <hr class="btn-info">

        <p class="h5">
            Giving DataLakeHouse for Snowflake a try will change how you look at data management tools. 
            We’ve created an end-to-end data pipeline business analytics platform that consolidates 
            the four pillars of data allocation, data syncing, data modeling, and data discovery/analytics 
            with machine learning. With DataLakeHouse you gain productivity and insights – from day one.
        </p>

        <hr class="btn-info">

    </div>
    
    <div class="col-md-12">

        <div class="d-flex justify-content-around">

            <div class="info px-3">

                <h3 class="h3"><strong>Data Synchronization</strong></h3>

                <p class="mt-3 mb-3">
                    Synchronize your data from dozens of popular sources. 
                    Schedule at frequencies that align to when your business needs to see refreshed data.
                </p>

                <a class="learn-more-btn mt-3">Learn More <i class="fas fa-arrow-right"></i></a>

            </div>

            <div class="info px-3">

                <h3 class="h3"><strong>Single Source of Truth</strong></h3>

                <p class="mt-3 mb-3">
                    Deploy pre-built single source of truth data models that give you instant analytics on 
                    your synchronized data in Snowflake, expediting answers to your business questions.
                </p>

                <a class="learn-more-btn mt-3">Learn More <i class="fas fa-arrow-right"></i></a>

            </div>

            <div class="info px-3 mt-3">

                <h3 class="h3"><strong>Insights & Predictions</strong></h3>

                <p class="mt-3 mb-3">
                    Use industry expert developed reports, visualizations, 
                    and data science machine learning algorithms to forecast, 
                    predict, and provide data-driven recommendations.
                </p>

                <a class="learn-more-btn mt-3">Learn More <i class="fas fa-arrow-right"></i></a>

            </div>

        </div>

    </div>

</section>