<section class="row mr-5 ml-5" id="quick_description_about_us">

    <div class="col-md-7">
        <h1 class="h1 mb-4"><strong>A data-informed business analytics platform 100% for Snowflake Customers</strong></h1>

        <p>
            The “last mile in the data cloud” for synchronizing
            your data and providing a global single source of truth
            repository, with real-time insights and predictions,
            to enable effective business decisions.
        </p>

        <div class="input-group mb-3 mt-3" id="join_private_beta_input">

            <input type="text" class="form-control px20py10 transparent border" placeholder="name@company.com">

            <div class="input-group-append">
              <span class="input-group-text">Join Private Beta</span>
            </div>

        </div>
    
    </div>

    <div class="col-md-5">

    </div>

</section>
