<section  class="row py-5 pr-5 pl-5 " id="integration_with_data_sources">

    <div class="row">

        <div class="col-md-12 text-center">

            <div class="d-flex flex-column align-items-center justify-content-center">

                <p class="mt-3 mb-2"><strong>CONNECT AND SYNC</strong></p>

                <h2 class="h2"><strong>Integration with data sources</strong></h2>
                <hr class="btn-info">

                <p class="h4">
                    Great analytics and data management start with collecting the data 
                    you use to run your business. DataLakeHouse pulls data from dozens of 
                    data sources (databases, cloud apps, etc.) and loads it seamlessly into your Cloud Data Warehouse. 
                    We’re 100% focused on customers using Snowflake. See how we’re enabling you to bring fast answers
                     to your business by bringing your raw data to the digital transformation party, without any coding 
                    necessary.
                </p>

            </div>

        </div>

    </div>
  
    <div class="row mt-5">
        
        <div class="col-md-7">

            <img class="img-fluid" src="./../../assets/imagedatasource.png" alt="">
            
        </div>

        <div class="col-md-5" style="margin-top: 10rem;">

            <h3 class="h3"><strong>Dozens of data sources. Our process. Your answers fast!</strong></h3>

            <p class="h5 mt-3">
                Extract and replicate your data on your schedule.
                 Frequency matters and so does the consistency and quality of your data. 
                 We track all key points around synching your data to the cloud and provide your 
                 team with so much more to manage the last mile of turning your data into information 
                 for your users.
            </p>

            <button class="btn btn-success mt-3 px-5 py-3">Talk us about integrations</button>

        </div>

    </div>

</section>