<section class="row py-5 pr-5 pl-5 justify-content-center" id="schedule_a_personalized_demo">

    <div class="col-md-12">

        <div class="card text-center py-5 px-3" id="card_schedule">

            <h2 class="h2"><strong>Schedule a Personalized Demo</strong></h2>
            <hr class="btn-info">

            <p class="h5 mt-3">
                Unlock the power of your data and inspire smarter business decisions. Book your demo now!
            </p>
           
            <form id="form_schedule_personalized_demo">

                <div class="col-md-12">

                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Your Name (required)">
                        <input type="text" class="form-control" placeholder="Work email address (required)">
                        <input type="text" class="form-control" placeholder="Company Name (optional)">

                    </div>

                </div>

                <div class="col-md-12 mt-3">
                    <textarea type="text" class="form-control" style="resize: none;"></textarea>
                    <span>We do not sell your personal data. Read our Privacy Policy.</span>
                </div>

                <button class="btn btn-success mt-4 px-5 py-3">Book My Demo</button>
                
            </form>

        </div>

    </div>      

</section>