<section class="row py-5 pr-5 pl-5 pt-5" id="sucess_stories_section">

    <div class="">

        <div class="col-md-12">

            <p>SUCCESS STORIES</p>

            <h1 class="h1 mt-3"><strong>Featured White Paper</strong></h1>
            <hr class="btn-info">

            <p class="h4">
                While analytics offer actionable insights that can incite 
                better business decisions within any industry and having a single source of truth
                 is beneficial to every organization, 
                this white paper is focused on addressing key concerns in transportation and logistics.
            </p>

        </div>

    </div>

    <div class="">

        <div class="row mt-3">

            <div class="col-md-6">
                <img class="img-fluid" src="./../../assets/imghands.png" style="size: 10%;">
            </div>

            <div class="col-md-6">

                <p class="greenfont"><strong>TRANSPORTATION</strong></p>

                <h2 class="h2"><strong>How Data is Redefining the Transportation Industry</strong></h2>

                <p class="mt-5 h5">
                    Complex issues commonly faced within transportation and logistics like dealing 
                    with driver retention, integrating acquisitions’ systems and data, vitals reporting,
                     and single point of failure spreadsheets, can all be resolved relatively easily. 
                     These problems are addressed within this white paper to provide guidance through 
                     data-solutions to any organizations that might need them.
                </p>

                <button class="btn btn-success px-5 py-2 mt-5">Read the White Paper</button>
            </div>
            
        </div>

    </div>      

</section>